name: Pull Request Validation

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  label:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    outputs:
      all-labels: ${{ steps.label.outputs.all-labels }}
    steps:
      - name: Run Labeler
        id: label
        uses: actions/labeler@v6
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

  unit-tests:
    needs: [label]
    if: contains(needs.label.outputs.all-labels, 'ahk')
    uses: ./.github/workflows/unit-tests.yml
    secrets: inherit
    permissions:
      contents: read
      checks: write
      pull-requests: write
