name: Unit Tests

on: 
  workflow_dispatch:
  workflow_call:
  push:

jobs:
  test:
    name: Unit Tests
    runs-on: windows-latest
    permissions:
      contents: read
      checks: write
      pull-requests: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Install AutoHotkey V2
        uses: holy-tao/install-autohotkey@v1

      - name: Run Unit Tests
        working-directory: tests
        shell: powershell
        run: AutoHotkey64.exe /ErrorStdOut RunTests.ahk

      - name: Publish Test Results
        if: always()
        uses: mikepenz/action-junit-report@v6
        with:
          report_paths: tests/junit.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          detailed_summary: true
          include_time_in_summary: true
          include_passed: true
